<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
# Copyright (c) 2014 Liviu Ionescu.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
# Liviu Ionescu - initial version  
-->
<plugin>

	<extension point="org.eclipse.cdt.ui.cPropertyTab">

		<tab
			class="ilg.gnuarmeclipse.managedbuild.packs.ui.TabDevices"
			helpId="cdt_u_prop_build_setting_tool"
			icon="icons/hardware_chip.png"
			name="%tab.deviceSettings"
			parent="org.eclipse.cdt.managedbuilder.ui.properties.Page_BuildSettings"
			tooltip="Select the device from the available device in Packs."
			weight="013">
		</tab>

	</extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.cdt.ui.CPerspective">
			<view
				id="ilg.gnuarmeclipse.managedbuild.packs.ui.views.DocsView"
				minimized="false"
				relationship="stack"
				relative="org.eclipse.ui.views.ContentOutline"
				visible="true">
			</view>
			<viewShortcut
				id="ilg.gnuarmeclipse.managedbuild.packs.ui.views.DocsView">
			</viewShortcut>
		</perspectiveExtension>
	</extension>

	<extension point="org.eclipse.ui.views">
		<category
			id="ilg.gnuarmeclipse.packs"
			name="%views.packs.category">
		</category>
		<view
			allowMultiple="false"
			category="ilg.gnuarmeclipse.packs"
			class="ilg.gnuarmeclipse.managedbuild.packs.ui.views.DocsView"
			icon="icons/pdficon_small.png"
			id="ilg.gnuarmeclipse.managedbuild.packs.ui.views.DocsView"
			name="%views.packs.docs">
		</view>
	</extension>

</plugin>
