<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.cdt.core.templateProcessTypes">
		<processType
			name="SetMBSStringOptionValue"
			processRunner="ilg.gnuarmeclipse.templates.core.processes.SetMBSStringOptionValue">
			<simple name="projectName" />
			<complexArray name="resourcePaths">
				<baseType>
					<simple name="id" />
					<simple name="value" />
					<simple name="path" />
					<simple name="buildType" />
				</baseType>
			</complexArray>
		</processType>
		<processType
			name="SetMBSStringListOptionValues"
			processRunner="ilg.gnuarmeclipse.templates.core.processes.SetMBSStringListOptionValues">
			<simple name="projectName" />
			<complexArray name="resourcePaths">
				<baseType>
					<simple name="id" />
					<simpleArray name="values" />
					<simple name="path" />
					<simple name="buildType" />
				</baseType>
			</complexArray>
		</processType>
		<processType
			name="SetMBSBooleanOptionValue"
			processRunner="ilg.gnuarmeclipse.templates.core.processes.SetMBSBooleanOptionValue">
			<simple name="projectName" />
			<complexArray name="resourcePaths">
				<baseType>
					<simple name="id" />
					<simple name="value" />
					<simple name="path" />
					<simple name="buildType" />
				</baseType>
			</complexArray>
		</processType>
		<processType
			name="AppendToMBSStringOptionValue"
			processRunner="ilg.gnuarmeclipse.templates.core.processes.AppendToMBSStringOptionValue">
			<simple name="projectName" />
			<complexArray name="resourcePaths">
				<baseType>
					<simple name="id" />
					<simple name="value" />
					<simple name="path" />
					<simple name="buildType" />
				</baseType>
			</complexArray>
		</processType>
		<processType
			name="AppendToMBSStringListOptionValues"
			processRunner="ilg.gnuarmeclipse.templates.core.processes.AppendToMBSStringListOptionValues">
			<simple name="projectName" />
			<complexArray name="resourcePaths">
				<baseType>
					<simple name="id" />
					<simpleArray name="values" />
					<simple name="path" />
					<simple
						name="buildType"
						nullable="true" />
				</baseType>
			</complexArray>
		</processType>
		<processType
			name="ConditionalSetMBSStringOptionValue"
			processRunner="ilg.gnuarmeclipse.templates.core.processes.ConditionalSetMBSStringOptionValue">
			<simple name="projectName">
			</simple>
			<simple
				name="condition"
				nullable="true">
			</simple>
			<complexArray name="resourcePaths">
				<baseType>
					<simple name="id">
					</simple>
					<simple name="value">
					</simple>
					<simple name="path">
					</simple>
					<simple name="buildType">
					</simple>
				</baseType>
			</complexArray>
		</processType>
		<processType
			name="ConditionalAppendToMBSStringOptionValue"
			processRunner="ilg.gnuarmeclipse.templates.core.processes.ConditionalAppendToMBSStringOptionValue">
			<simple name="projectName">
			</simple>
			<simple
				name="condition"
				nullable="true">
			</simple>
			<complexArray name="resourcePaths">
				<baseType>
					<simple name="id">
					</simple>
					<simple name="value">
					</simple>
					<simple name="path">
					</simple>
					<simple
						name="buildType"
						nullable="true">
					</simple>
				</baseType>
			</complexArray>
		</processType>
		<processType
			name="ConditionalAppendToMBSStringListOptionValues"
			processRunner="ilg.gnuarmeclipse.templates.core.processes.ConditionalAppendToMBSStringListOptionValues">
			<simple name="projectName">
			</simple>
			<simple
				name="condition"
				nullable="true">
			</simple>
			<complexArray name="resourcePaths">
				<baseType>
					<simple name="id">
					</simple>
					<simpleArray name="values">
					</simpleArray>
					<simple name="path">
					</simple>
					<simple
						name="buildType"
						nullable="true">
					</simple>
				</baseType>
			</complexArray>
		</processType>
		<processType
			name="ConditionalSetMBSBooleanOptionValue"
			processRunner="ilg.gnuarmeclipse.templates.core.processes.ConditionalSetMBSBooleanOptionValue">
			<simple name="projectName">
			</simple>
			<simple
				name="condition"
				nullable="true">
			</simple>
			<complexArray name="resourcePaths">
				<baseType>
					<simple name="id">
					</simple>
					<simple name="value">
					</simple>
					<simple name="path">
					</simple>
					<simple name="buildType">
					</simple>
				</baseType>
			</complexArray>
		</processType>

		<processType
			name="ConditionalAddFiles"
			processRunner="ilg.gnuarmeclipse.templates.core.processes.ConditionalAddFiles">
			<simple name="projectName" />
			<simple
				name="condition"
				nullable="true">
			</simple>
			<complexArray name="files">
				<baseType>
					<simple name="source" />
					<simple name="target" />
					<simple name="replaceable" />
				</baseType>
			</complexArray>
		</processType>

		<processType
			name="ConditionalAppendCreate"
			processRunner="ilg.gnuarmeclipse.templates.core.processes.ConditionalAppendCreate">
			<simple name="projectName" />
			<simple
				name="condition"
				nullable="true">
			</simple>
			<complexArray name="files">
				<baseType>
					<simple name="source" />
					<simple name="target" />
					<simple name="replaceable" />
				</baseType>
			</complexArray>
		</processType>

		<processType
			name="SetPropertyIfHasNature"
			processRunner="ilg.gnuarmeclipse.templates.core.processes.SetPropertyIfHasNature">
			<simple name="projectName" />
			<simple name="natureString" />
			<simple name="propertyName" />
			<simple name="propertyValue" />
		</processType>

		<processType
			name="ConditionalSetProperty"
			processRunner="ilg.gnuarmeclipse.templates.core.processes.ConditionalSetProperty">
			<simple name="projectName" />
			<simple
				name="condition"
				nullable="true">
			</simple>
			<simple name="propertyName" />
			<simple name="propertyValue" />
		</processType>

		<processType
			name="SetPropertyToPluginResource"
			processRunner="ilg.gnuarmeclipse.templates.core.processes.SetPropertyToPluginResource">
			<simple name="pluginId" />
			<simple name="relativePath" />
			<simple name="propertyName" />
		</processType>

		<processType
			name="AddAbsolutePathFiles"
			processRunner="ilg.gnuarmeclipse.templates.core.processes.AddAbsolutePathFiles">
			<simple name="projectName" />
			<complexArray name="files">
				<baseType>
					<simple name="source" />
					<simple name="target" />
					<simple name="replaceable" />
				</baseType>
			</complexArray>
		</processType>

		<processType
			name="ConditionalCopyFolders"
			processRunner="ilg.gnuarmeclipse.templates.core.processes.ConditionalCopyFolders">
			<simple name="projectName" />
			<simple
				name="condition"
				nullable="true">
			</simple>
			<complexArray name="folders">
				<baseType>
					<simple name="source" />
					<simple name="target" />
					<simple name="pattern" />
					<simple name="replaceable" />
				</baseType>
			</complexArray>
		</processType>

	</extension>

</plugin>
