<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="ilg.gnuarmeclipse.debug.gdbjtag.openocd.launchConfigurationType"
            modes="debug"
            name="%launchConfig.name"
            public="true"/>
   </extension>

   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="ilg.gnuarmeclipse.debug.gdbjtag.openocd.LaunchConfigurationDelegate"
            delegateDescription="%launchDelegate.jtagDsf.description"
            id="ilg.gnuarmeclipse.debug.gdbjtag.openocd.core.dsfLaunchDelegate"
            modes="debug"
            name="%launchDelegate.jtagDsf.name"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="ilg.gnuarmeclipse.debug.gdbjtag.openocd.launchConfigurationType">
      </launchDelegate>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="ilg.gnuarmeclipse.debug.gdbjtag.openocd.launchConfigurationType"
            icon="icons/obj16/c_app.gif"
            id="ilg.gnuarmeclipset.debug.gdbjtag.openocd.launchConfigurationTypeImage"/>
   </extension>

   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="ilg.gnuarmeclipse.debug.gdbjtag.openocd.ui.TabGroupLaunchConfiguration"
            id="ilg.gnuarmeclipse.debug.gdbjtag.openocd.launchConfigurationTabGroup"
            type="ilg.gnuarmeclipse.debug.gdbjtag.openocd.launchConfigurationType"/>
   </extension>

   <extension
         point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
      <device
            class="ilg.gnuarmeclipse.debug.gdbjtag.openocd.JTagDevice"
            id="ilg.gnuarmeclipse.debug.gdbjtag.openocd.core.jtagdevice"
            name="%JTagDevice.generic.name">
      </device>
   </extension>

   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            description="Path to OpenOCD installation folder"
            name="openocd_path" 
            initialValue="" />
   </extension>
   
   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            description="Name of the OpenOCD executable"
            initializerClass="ilg.gnuarmeclipse.debug.gdbjtag.jlink.OpenOcdVariableInitializer"
            name="openocd_executable"/>
   </extension>

</plugin>
