<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
			id="ilg.gnuarmeclipse.packs.ui.preferencePage.packages"
			class="ilg.gnuarmeclipse.packs.ui.preferences.FolderPage"
			name="%preferences.packages">
		</page>
		<page
			category="ilg.gnuarmeclipse.packs.ui.preferencePage.packages"
			class="ilg.gnuarmeclipse.packs.ui.preferences.ReposPage"
			id="ilg.gnuarmeclipse.packs.ui.preferences.SitesPage"
			name="%preferences.sites">
		</page>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="ilg.gnuarmeclipse.packs.ui.preferences.SitesInitializer">
		</initializer>
	</extension>
	<extension point="org.eclipse.ui.perspectives">
		<perspective
			class="ilg.gnuarmeclipse.packs.ui.perspectives.PacksPerspective"
			icon="icons/packages.png"
			id="ilg.gnuarmeclipse.packs.ui.perspectives.PacksPerspective"
			name="%perspectives.packs">
		</perspective>
	</extension>
	<extension point="org.eclipse.ui.views">
		<category
			id="ilg.gnuarmeclipse.packs"
			name="%views.packs.category">
		</category>
		<view
			allowMultiple="false"
			category="ilg.gnuarmeclipse.packs"
			class="ilg.gnuarmeclipse.packs.ui.views.DevicesView"
			icon="icons/hardware_chip.png"
			id="ilg.gnuarmeclipse.packs.ui.views.DevicesView"
			name="%views.packs.devices">
		</view>
		<view
			allowMultiple="false"
			category="ilg.gnuarmeclipse.packs"
			class="ilg.gnuarmeclipse.packs.ui.views.BoardsView"
			icon="icons/board.png"
			id="ilg.gnuarmeclipse.packs.ui.views.BoardsView"
			name="%viwes.packs.boards">
		</view>
		<view
			allowMultiple="false"
			category="ilg.gnuarmeclipse.packs"
			class="ilg.gnuarmeclipse.packs.ui.views.KeywordsView"
			icon="icons/info_obj.png"
			id="ilg.gnuarmeclipse.packs.ui.views.KeywordsView"
			name="%viwes.packs.keywords">
		</view>
		<view
			allowMultiple="false"
			category="ilg.gnuarmeclipse.packs"
			class="ilg.gnuarmeclipse.packs.ui.views.PacksView"
			icon="icons/packages.png"
			id="ilg.gnuarmeclipse.packs.ui.views.PackagesView"
			name="%viwes.packs.packages">
		</view>
		<view
			allowMultiple="false"
			category="ilg.gnuarmeclipse.packs"
			class="ilg.gnuarmeclipse.packs.ui.views.OutlineView"
			icon="icons/outline_co.png"
			id="ilg.gnuarmeclipse.packs.ui.views.OutlineView"
			name="%viwes.packs.outline"
			restorable="true">
		</view>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<category
			id="ilg.gnuarmeclipse.packs.commands.category"
			name="%commands.packs.category">
		</category>
		<command
			categoryId="ilg.gnuarmeclipse.packs.commands.category"
			id="ilg.gnuarmeclipse.packs.commands.updateCommand"
			name="%commands.packs.refresh">
		</command>
		<command
			categoryId="ilg.gnuarmeclipse.packs.commands.category"
			id="ilg.gnuarmeclipse.packs.commands.showPerspectiveCommand"
			name="%commands.packs.showPerspective">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			allPopups="false"
			locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
			<toolbar id="ilg.gnuarmeclipse.packs.toolbar.main.showPerspective">
				<command
					commandId="ilg.gnuarmeclipse.packs.commands.showPerspectiveCommand"
					icon="icons/packages.png"
					style="push"
					tooltip="%menus.toolbar.showPerspective.tooltip">
				</command>
			</toolbar>
		</menuContribution>
	</extension>
	<extension
		id="ilg.gnuarmeclipse.packs.marker"
		name="Packs"
		point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.problemmarker">
		</super>
		<persistent value="false">
		</persistent>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="ilg.gnuarmeclipse.packs.ui.handlers.UpdatePacksHandler"
			commandId="ilg.gnuarmeclipse.packs.commands.updateCommand">
		</handler>
		<handler
			class="ilg.gnuarmeclipse.packs.ui.handlers.ShowPerspectiveHandler"
			commandId="ilg.gnuarmeclipse.packs.commands.showPerspectiveCommand">
		</handler>
	</extension>

</plugin>
