<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.perspectives">
		<perspective
			class="ilg.gnuarmeclipse.codered.perspectives.CodeRedPerspectiveFactory"
			icon="icons/cr.gif"
			id="ilg.gnuarmeclipse.codered.perspectives.CodeRedPerspective"
			name="%perspectives.codered">
		</perspective>
	</extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="ilg.gnuarmeclipse.codered.perspectives.CodeRedPerspective">
			<view
				id="org.eclipse.debug.ui.ExpressionView"
				minimized="false"
				relationship="stack"
				relative="org.eclipse.debug.ui.VariableView"
				visible="true">
			</view>

			<actionSet id="org.eclipse.cdt.ui.buildConfigActionSet" />
			<actionSet id="org.eclipse.debug.ui.launchActionSet" />
			<actionSet id="org.eclipse.cdt.ui.NavigationActionSet" />
			<actionSet id="org.eclipse.cdt.ui.OpenActionSet" />
			<actionSet id="org.eclipse.ui.edit.text.actionSet.presentation" />
			<actionSet id="org.eclipse.debug.ui.debugActionSet" />

			<perspectiveShortcut
				id="org.eclipse.team.ui.TeamSynchronizingPerspective" />
			<perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective" />
			<perspectiveShortcut id="org.eclipse.cdt.ui.CPerspective" />

			<viewShortcut id="org.eclipse.debug.ui.DebugView" />
			<viewShortcut id="org.eclipse.debug.ui.VariableView" />
			<viewShortcut id="org.eclipse.debug.ui.BreakpointView" />
			<viewShortcut id="org.eclipse.debug.ui.ExpressionView" />
			<viewShortcut id="org.eclipse.ui.views.ContentOutline" />
			<viewShortcut id="org.eclipse.ui.console.ConsoleView" />
			<viewShortcut id="org.eclipse.debug.ui.MemoryView" />
			<viewShortcut id="org.eclipse.ui.views.TaskList" />
			<viewShortcut id="org.eclipse.ui.views.ProblemView" />
			<viewShortcut id="org.eclipse.debug.ui.RegisterView" />

			<viewShortcut id="org.eclipse.cdt.ui.includeBrowser" />
			<viewShortcut id="org.eclipse.ui.navigator.ProjectExplorer" />
			<viewShortcut id="org.eclipse.pde.runtime.LogView" />

			<viewShortcut id="org.eclipse.cdt.dsf.debug.ui.disassembly.view" />

			<viewShortcut
				id="ilg.gnuarmeclipse.debug.gdbjtag.ui.views.PeripheralsView" />

			<showInPart id="org.eclipse.cdt.ui.includeBrowser" />
			<showInPart id="org.eclipse.cdt.ui.CView" />
			<showInPart id="org.eclipse.ui.navigator.ProjectExplorer" />

		</perspectiveExtension>

		<perspectiveExtension targetID="org.eclipse.cdt.ui.CPerspective">
			<perspectiveShortcut
				id="ilg.gnuarmeclipse.codered.perspectives.CodeRedPerspective" />
		</perspectiveExtension>

		<perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
			<perspectiveShortcut
				id="ilg.gnuarmeclipse.codered.perspectives.CodeRedPerspective" />
		</perspectiveExtension>

	</extension>

</plugin>
