<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2012, 2017 Liviu Ionescu.
  This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
    Liviu Ionescu
-->

<plugin>

	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			id="org.eclipse.embedcdt.debug.gdbjtag.jumper.launchConfigurationType"
			modes="debug, run"
			name="%launchConfig.name"
			public="true" />
  <launchConfigurationType
        delegate="org.eclipse.embedcdt.debug.gdbjtag.jumper.dsf.LaunchConfigurationDelegate"
        id="ilg.gnumcueclipse.debug.gdbjtag.jumper.launchConfigurationType"
        migrationDelegate="org.eclipse.embedcdt.debug.gdbjtag.jumper.dsf.LaunchConfigurationMigrationDelegate"
        modes="debug,run"
        name="%launchConfig.compatibilityName"
        public="false"
        sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
        sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer">
  </launchConfigurationType>
	</extension>

	<extension point="org.eclipse.debug.core.launchDelegates">
		<launchDelegate
			delegate="org.eclipse.embedcdt.debug.gdbjtag.jumper.dsf.LaunchConfigurationDelegate"
			delegateDescription="%launchDelegate.jtagDsf.description"
			id="org.eclipse.embedcdt.debug.gdbjtag.jumper.core.dsfLaunchDelegate"
			modes="debug,run"
			name="%launchDelegate.jtagDsf.name"
			sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
			sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
			type="org.eclipse.embedcdt.debug.gdbjtag.jumper.launchConfigurationType">
		</launchDelegate>
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="org.eclipse.embedcdt.debug.gdbjtag.jumper.launchConfigurationType"
			icon="icons/obj16/c_app.gif"
			id="org.eclipse.embedcdt.debug.gdbjtag.jumper.launchConfigurationTypeImage" />
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="org.eclipse.embedcdt.debug.gdbjtag.jumper.ui.TabGroupLaunchConfiguration"
			id="org.eclipse.embedcdt.debug.gdbjtag.jumper.launchConfigurationTabGroup"
			type="org.eclipse.embedcdt.debug.gdbjtag.jumper.launchConfigurationType" />
	</extension>

	<extension point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
		<device
			class="org.eclipse.embedcdt.debug.gdbjtag.jumper.JTagDevice"
			id="org.eclipse.embedcdt.debug.gdbjtag.jumper.core.jtagdevice"
			name="%JTagDevice.generic.name">
		</device>
	</extension>

	<extension point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
		<device
			class="org.eclipse.embedcdt.debug.gdbjtag.jumper.JTagDevice"
			id="org.eclipse.embedcdt.debug.gdbjtag.jumper.core.jtagdevice"
			name="%JTagDevice.deprecated.name">
		</device>
	</extension>

	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.embedcdt.debug.gdbjtag.jumper.preferences.DefaultPreferenceInitializer">
		</initializer>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.embedcdt.core.ui.preferences.mcu"
			class="org.eclipse.embedcdt.debug.gdbjtag.jumper.ui.preferences.WorkspaceMcuPage"
			id="org.eclipse.embedcdt.debug.gdbjtag.jumper.workspacePreferencePage"
			name="%preferences.workspaceMcu">
		</page>
		<page
			category="org.eclipse.embedcdt.core.ui.preferences.mcu"
			class="org.eclipse.embedcdt.debug.gdbjtag.jumper.ui.preferences.GlobalMcuPage"
			id="org.eclipse.embedcdt.debug.gdbjtag.jumper.globalPreferencePage"
			name="%preferences.globalMcu">
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="org.eclipse.embedcdt.core.ui.properties.mcu"
			class="org.eclipse.embedcdt.debug.gdbjtag.jumper.ui.properties.ProjectMcuPage"
			id="org.eclipse.embedcdt.debug.gdbjtag.jumper.projectPropertiesPage"
			name="%properties.mcu">
			<filter
				name="projectNature"
				value="org.eclipse.cdt.core.cnature">
			</filter>
			<enabledWhen>
				<and>
					<instanceof value="org.eclipse.core.resources.IProject">
					</instanceof>
					<or>
						<test forcePluginActivation="true" property="ilg.gnumcueclipse.managedbuild.cross.riscv.isGnuRiscv">
						</test>
						<test forcePluginActivation="true" property="ilg.gnuarmeclipse.managedbuild.cross.isGnuArm">
						</test>
					</or>
				</and>
			</enabledWhen>
		</page>
	</extension>
</plugin>
