<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.views">
		<view
			allowMultiple="false"
			category="org.eclipse.debug.ui"
			class="ilg.gnuarmeclipse.debug.gdbjtag.render.peripherals.PeripheralsView"
			icon="icons/peripheral.png"
			id="ilg.gnuarmeclipse.debug.gdbjtag.ui.views.PeripheralsView"
			name="%views.peripheral.name">
		</view>
	</extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
			<view
				id="ilg.gnuarmeclipse.debug.gdbjtag.ui.views.PeripheralsView"
				minimized="false"
				relationship="stack"
				relative="org.eclipse.debug.ui.VariableView"
				visible="true">
			</view>
			<viewShortcut
				id="ilg.gnuarmeclipse.debug.gdbjtag.ui.views.PeripheralsView">
			</viewShortcut>
		</perspectiveExtension>
	</extension>

	<extension point="org.eclipse.debug.ui.contextViewBindings">
		<contextViewBinding
			contextId="org.eclipse.cdt.debug.ui.debugging"
			viewId="ilg.gnuarmeclipse.debug.gdbjtag.ui.views.PeripheralsView"
			autoOpen="true"
			autoClose="true">
		</contextViewBinding>
	</extension>

	<extension point="org.eclipse.core.runtime.adapters">
		<factory
			adaptableType="ilg.gnuarmeclipse.debug.gdbjtag.dsf.GnuArmLaunch"
			class="ilg.gnuarmeclipse.debug.gdbjtag.dsf.GnuArmAdapterFactory">
			<!-- this list needs to match the list of adapters that GnuArmAdapterFactory's 
				super class can adapt to, see org.eclipse.cdt.dsf.gdb.ui/plugin.xml for reference 
				list -->
			<adapter
				type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider" />
			<adapter
				type="org.eclipse.debug.internal.ui.viewers.model.provisional.IModelProxyFactory" />
			<adapter type="org.eclipse.debug.ui.contexts.ISuspendTrigger" />
			<adapter
				type="org.eclipse.debug.internal.ui.viewers.model.provisional.IColumnPresentationFactory" />
			<adapter type="org.eclipse.debug.core.commands.ITerminateHandler" />
			<adapter type="org.eclipse.cdt.debug.core.model.IConnectHandler" />
			<adapter type="org.eclipse.debug.core.commands.IDisconnectHandler" />
			<adapter
				type="org.eclipse.cdt.debug.core.model.IDebugNewExecutableHandler" />
		</factory>
	</extension>

	<extension point="org.eclipse.debug.ui.memoryRenderings">
		<renderingType
			class="ilg.gnuarmeclipse.debug.gdbjtag.render.peripheral.PeripheralRenderingDelegate"
			id="ilg.gnuarmeclipse.debug.gdbjtag.memoryRendering"
			name="Peripheral">
		</renderingType>
		<renderingBindings
			defaultIds="ilg.gnuarmeclipse.debug.gdbjtag.memoryRendering"
			primaryId="ilg.gnuarmeclipse.debug.gdbjtag.memoryRendering"
			renderingIds="ilg.gnuarmeclipse.debug.gdbjtag.memoryRendering">
			<!-- org.eclipse.debug.ui.rendering.raw_memory not yet functional -->
			<enablement>
				<or>
					<!-- Without this instanceof, adding memory renderings fail with NPE -->
					<instanceof
						value="ilg.gnuarmeclipse.debug.gdbjtag.memory.PeripheralMemoryBlockExtension" />
				</or>
			</enablement>
		</renderingBindings>
	</extension>
	<extension point="org.eclipse.ui.themes">
		<themeElementCategory
			id="ilg.gnuarmeclipse.debug.gdbjtag.peripheral.colors"
			label="Peripherals views">
			<description>
				Colors used in the peripherals views.
			</description>
		</themeElementCategory>
		<colorDefinition
			categoryId="ilg.gnuarmeclipse.debug.gdbjtag.peripheral.colors"
			colorFactory="ilg.gnuarmeclipse.debug.gdbjtag.preferences.ColorReadOnlyFactory"
			id="ilg.gnuarmeclipse.debug.gdbjtag.peripherals.color.readonly"
			isEditable="true"
			label="Read only background">
			<description>
				Color for the read only peripherals/registers.
			</description>
		</colorDefinition>
		<colorDefinition
			categoryId="ilg.gnuarmeclipse.debug.gdbjtag.peripheral.colors"
			colorFactory="ilg.gnuarmeclipse.debug.gdbjtag.preferences.ColorWriteOnlyFactory"
			id="ilg.gnuarmeclipse.debug.gdbjtag.peripherals.color.writeonly"
			isEditable="true"
			label="Write only background">
			<description>
				Color for the write only peripherals/registers.
			</description>
		</colorDefinition>
		<colorDefinition
			categoryId="ilg.gnuarmeclipse.debug.gdbjtag.peripheral.colors"
			colorFactory="ilg.gnuarmeclipse.debug.gdbjtag.preferences.ColorChangedFactory"
			id="ilg.gnuarmeclipse.debug.gdbjtag.peripherals.color.changed"
			isEditable="true"
			label="Changed background">
			<description>
				Color for the value fields that changed during edit.
			</description>
		</colorDefinition>
		<colorDefinition
			categoryId="ilg.gnuarmeclipse.debug.gdbjtag.peripheral.colors"
			colorFactory="ilg.gnuarmeclipse.debug.gdbjtag.preferences.ColorChangedLightFactory"
			id="ilg.gnuarmeclipse.debug.gdbjtag.peripherals.color.changed.light"
			isEditable="true"
			label="Changed background (light)">
			<description>
				Color for the value fields that changed during edit,
				light contrast.
			</description>
		</colorDefinition>
		<colorDefinition
			categoryId="ilg.gnuarmeclipse.debug.gdbjtag.peripheral.colors"
			colorFactory="ilg.gnuarmeclipse.debug.gdbjtag.preferences.ColorChangedMediumFactory"
			id="ilg.gnuarmeclipse.debug.gdbjtag.peripherals.color.changed.medium"
			isEditable="true"
			label="Changed background (medium)">
			<description>
				Color for the value fields that changed during edit,
				medium contrast.
			</description>
		</colorDefinition>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.debug.ui.DebugPreferencePage"
			class="ilg.gnuarmeclipse.debug.gdbjtag.preferences.PeripheralsPage"
			id="ilg.gnuarmeclipse.debug.gdbjtag.jlink.preferencePage.peripherals"
			name="%preferences.peripherals">
		</page>
	</extension>


</plugin>
