<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2012, 2017 Liviu Ionescu.
  This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
    Liviu Ionescu
-->

<plugin>

	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="ilg.gnumcueclipse.debug.gdbjtag.qemu.launchConfigurationType"
			icon="icons/obj16/c_app.gif"
			id="org.eclipse.embedcdt.debug.gdbjtag.qemu.ui.launchConfigurationTypeImage" />
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="org.eclipse.embedcdt.debug.gdbjtag.qemu.ui.TabGroupLaunchConfiguration"
			id="ilg.gnumcueclipse.debug.gdbjtag.qemu.launchConfigurationTabGroup"
			type="ilg.gnumcueclipse.debug.gdbjtag.qemu.launchConfigurationType" />
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.embedcdt.ui.preferences.mcu"
			class="org.eclipse.embedcdt.internal.debug.gdbjtag.qemu.ui.preferences.WorkspaceMcuPage"
			id="org.eclipse.embedcdt.internal.debug.gdbjtag.qemu.ui.workspacePreferencePage"
			name="%preferences.workspaceMcu">
		</page>
		<page
			category="org.eclipse.embedcdt.ui.preferences.mcu"
			class="org.eclipse.embedcdt.internal.debug.gdbjtag.qemu.ui.preferences.GlobalMcuPage"
			id="org.eclipse.embedcdt.internal.debug.gdbjtag.qemu.ui.globalPreferencePage"
			name="%preferences.globalMcu">
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="org.eclipse.embedcdt.ui.properties.mcu"
			class="org.eclipse.embedcdt.internal.debug.gdbjtag.qemu.ui.properties.ProjectMcuPage"
			id="org.eclipse.embedcdt.internal.debug.gdbjtag.qemu.ui.projectPropertiesPage"
			name="%properties.mcu">
			<filter
				name="projectNature"
				value="org.eclipse.cdt.core.cnature">
			</filter>
			<enabledWhen>
				<and>
					<instanceof value="org.eclipse.core.resources.IProject">
					</instanceof>
					<test forcePluginActivation="true" property="org.eclipse.embedcdt.managedbuild.cross.core.isGnuMcu">
					</test>
				</and>
			</enabledWhen>
		</page>
	</extension>

</plugin>
