<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.commands">
		<category
			name="%runCategory.name"
			description="%runCategory.description"
			id="ilg.gnuarmeclipse.debug.gdbjtag.restart.category">
		</category>
		<command
			categoryId="ilg.gnuarmeclipse.debug.gdbjtag.restart.category"
			defaultHandler="ilg.gnuarmeclipse.debug.gdbjtag.restart.RestartCommandHandler"
			description="%ActionDefinition.restart.description"
			id="ilg.gnuarmeclipse.debug.gdbjtag.restart.commands.Restart"
			name="%ActionDefinition.restart.name">
		</command>
	</extension>

	<extension point="org.eclipse.ui.actionSets">
		<actionSet
			id="ilg.gnuarmeclipse.debug.gdbjtag.restart.actionset"
			label="%ActionDefinition.restart.name"
			visible="true">
			<action
				class="ilg.gnuarmeclipse.debug.gdbjtag.restart.action.RestartCommandActionDelegate"
				definitionId="ilg.gnuarmeclipse.debug.gdbjtag.restart.commands.Restart"
				disabledIcon="icons/dlcl16/restart_co.gif"
				icon="icons/elcl16/restart_co.gif"
				id="ilg.gnuarmeclipse.debug.gdbjtag.restart.action"
				label="%ActionDefinition.restart.name"
				toolbarPath="org.eclipse.debug.ui.main.toolbar/additions"
				tooltip="%ActionDefinition.restart.description">
			</action>
		</actionSet>
	</extension>

	<extension point="org.eclipse.ui.startup">
		<startup class="ilg.gnuarmeclipse.debug.gdbjtag.restart.Startup">
		</startup>
	</extension>
</plugin>
