<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2012, 2017 Liviu Ionescu.
  This program and the accompanying materials
  are made available under the terms of the Eclipse Public License 2.0
  which accompanies this distribution, and is available at
  https://www.eclipse.org/legal/epl-2.0/
  
  SPDX-License-Identifier: EPL-2.0

  Contributors:
    Liviu Ionescu
-->

<plugin>
	<extension-point
		id="org.eclipse.embedcdt.packs.core.data"
		name="CMSIS Packs Data Manager"
		schema="schema/packs_data.exsd" />

	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="ilg.gnumcueclipse.packs.core.PreferencesInitializer">
		</initializer>
	</extension>

</plugin>
