<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			id="ilg.gnuarmeclipse.debug.gdbjtag.jlink.launchConfigurationType"
			modes="debug,run"
			name="%launchConfig.name"
			public="true" />
	</extension>

	<!-- LaunchConfigurationDelegate.java is where fun starts -->
	<extension point="org.eclipse.debug.core.launchDelegates">
		<launchDelegate
			delegate="ilg.gnuarmeclipse.debug.gdbjtag.jlink.dsf.LaunchConfigurationDelegate"
			delegateDescription="%launchDelegate.jtagDsf.description"
			id="ilg.gnuarmeclipse.debug.gdbjtag.jlink.core.dsfLaunchDelegate"
			modes="debug,run"
			name="%launchDelegate.jtagDsf.name"
			sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
			sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
			type="ilg.gnuarmeclipse.debug.gdbjtag.jlink.launchConfigurationType">
		</launchDelegate>
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="ilg.gnuarmeclipse.debug.gdbjtag.jlink.launchConfigurationType"
			icon="icons/obj16/c_app.gif"
			id="ilg.gnuarmeclipset.debug.gdbjtag.jlink.launchConfigurationTypeImage" />
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="ilg.gnuarmeclipse.debug.gdbjtag.jlink.ui.TabGroupLaunchConfiguration"
			id="ilg.gnuarmeclipse.debug.gdbjtag.jlink.launchConfigurationTabGroup"
			type="ilg.gnuarmeclipse.debug.gdbjtag.jlink.launchConfigurationType" />
	</extension>

	<extension point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
		<device
			class="ilg.gnuarmeclipse.debug.gdbjtag.jlink.JTagDevice"
			id="ilg.gnuarmeclipse.debug.gdbjtag.jlink.core.jtagdevice"
			name="%JTagDevice.generic.name">
		</device>
	</extension>

	<!-- legacy from early versions -->
	<extension point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
		<device
			class="ilg.gnuarmeclipse.debug.gdbjtag.jlink.JTagDevice"
			id="ilg.gnuarmeclipse.debug.gdbjtag.jlink.core.jtagdevice.compat"
			name="J-Link">
		</device>
	</extension>

	<extension point="org.eclipse.core.variables.valueVariables">
		<variable
			description="Path to J-Link installation folder"
			initializerClass="ilg.gnuarmeclipse.debug.gdbjtag.jlink.VariableInitializer"
			name="jlink_path" />
	</extension>

	<extension point="org.eclipse.core.variables.valueVariables">
		<variable
			description="Name of the J-Link GDB server executable"
			initializerClass="ilg.gnuarmeclipse.debug.gdbjtag.jlink.VariableInitializer"
			name="jlink_gdbserver" />
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="ilg.gnuarmeclipse.debug.gdbjtag.jlink.DefaultPreferenceInitializer">
		</initializer>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.debug.ui.DebugPreferencePage"
			class="ilg.gnuarmeclipse.debug.gdbjtag.jlink.preferences.JlinkPage"
			id="ilg.gnuarmeclipse.debug.gdbjtag.jlink.preferencePage"
			name="%preferences.jlink">
		</page>
	</extension>

</plugin>
