<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.cdt.ui.preferences.CPluginPreferencePage"
            id="ilg.gnuarmeclipse.packs.ui.preferencePage.packages"
            class="ilg.gnuarmeclipse.packs.ui.preferences.FolderPage"
            name="Packages">
      </page>
      <page
            category="ilg.gnuarmeclipse.packs.ui.preferencePage.packages"
            class="ilg.gnuarmeclipse.packs.ui.preferences.SitesPage"
            id="ilg.gnuarmeclipse.packs.ui.preferences.SitesPage"
            name="Sites">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ilg.gnuarmeclipse.packs.ui.preferences.FolderInitializer">
      </initializer>
      <initializer
            class="ilg.gnuarmeclipse.packs.ui.preferences.SitesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ilg.gnuarmeclipse.packs.ui.perspectives.PacksPerspective"
            icon="icons/packages.png"
            id="ilg.gnuarmeclipse.packs.ui.perspectives.PacksPerspective"
            name="C/C++ Packs">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ilg.gnuarmeclipse.packs"
            name="C/C++ Packs">
      </category>
      <view
            category="ilg.gnuarmeclipse.packs"
            class="ilg.gnuarmeclipse.packs.ui.views.DevicesView"
            icon="icons/hardware_chip.png"
            id="ilg.gnuarmeclipse.packs.ui.views.ProcessorsView"
            name="Devices">
      </view>
      <view
            category="ilg.gnuarmeclipse.packs"
            class="ilg.gnuarmeclipse.packs.ui.views.BoardsView"
            icon="icons/board.png"
            id="ilg.gnuarmeclipse.packs.ui.views.BoardsView"
            name="Boards">
      </view>
      <view
            category="ilg.gnuarmeclipse.packs"
            class="ilg.gnuarmeclipse.packs.ui.views.PackagesView"
            icon="icons/packages.png"
            id="ilg.gnuarmeclipse.packs.ui.views.PackagesView"
            name="Packs">
      </view>
      <!--
      <view
            category="ilg.gnuarmeclipse.packs"
            class="ilg.gnuarmeclipse.packs.ui.views.PackagesView2"
            icon="icons/sample.gif"
            id="ilg.gnuarmeclipse.packs.ui.views.PackagesView2"
            name="Packages2">
      </view>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="ilg.gnuarmeclipse.packs.ui.views.ProcessorsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="ilg.gnuarmeclipse.packs.ui.views.BoardsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="ilg.gnuarmeclipse.packs.ui.views.PackagesView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="ilg.gnuarmeclipse.packs.ui.views.PackagesView2"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="ilg.gnuarmeclipse.packs.commands.category"
            name="Packages Category">
      </category>
      <command
            categoryId="ilg.gnuarmeclipse.packs.commands.category"
            id="ilg.gnuarmeclipse.packs.commands.refreshCommand"
            name="Refresh">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ilg.gnuarmeclipse.packs.handlers.RefreshHandler"
            commandId="ilg.gnuarmeclipse.packs.commands.refreshCommand">
      </handler>
   </extension>
   
   <!-- 
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ilg.gnuarmeclipse.packs.commands.refreshCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="ilg.gnuarmeclipse.packs.menus.sampleMenu"
               label="C/C++ Packs"
               mnemonic="M">
            <command
                  commandId="ilg.gnuarmeclipse.packs.commands.refreshCommand"
                  id="ilg.gnuarmeclipse.packs.menus.sampleCommand"
                  label="Refresh"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ilg.gnuarmeclipse.packs.toolbars.sampleToolbar">
            <command
                  commandId="ilg.gnuarmeclipse.packs.commands.refreshCommand"
                  icon="icons/sample.gif"
                  id="ilg.gnuarmeclipse.packs.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
  -->  

</plugin>
