<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension-point
		id="cprojectExtra"
		name="C Project Extra Data Manager"
		schema="schema/cproject_extra_data.exsd" />

	<extension-point
		id="svdPath"
		name="SVD Path Manager"
		schema="schema/svd_path.exsd" />

</plugin>
