<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.ui.views">
    	<view
            allowMultiple="false"
            category="org.eclipse.debug.ui"
            class="ilg.gnuarmeclipse.debug.core.gdbjtag.render.peripherals.PeripheralsView"
            icon="icons/peripheral.png"
            id="ilg.gnuarmeclipse.debug.core.gdbjtag.ui.views.PeripheralsView"
            name="%views.peripheral.name">
		</view>
	</extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="org.eclipse.debug.ui.DebugPerspective">
			<view
			     id="ilg.gnuarmeclipse.debug.core.gdbjtag.ui.views.PeripheralsView"
			     minimized="false"
			     relationship="stack"
			     relative="org.eclipse.debug.ui.VariableView"
			     visible="true">
			</view>
			<viewShortcut
			     id="ilg.gnuarmeclipse.debug.core.gdbjtag.ui.views.PeripheralsView">
			</viewShortcut>
		</perspectiveExtension>
    </extension>

	<extension point="org.eclipse.debug.ui.contextViewBindings">
		<contextViewBinding
			contextId="org.eclipse.cdt.debug.ui.debugging"
			viewId="ilg.gnuarmeclipse.debug.core.gdbjtag.ui.views.PeripheralsView" 
			autoOpen="true"
			autoClose="true">
		</contextViewBinding>
	</extension>

	<extension point="org.eclipse.core.runtime.adapters">
	    <factory
	          adaptableType="ilg.gnuarmeclipse.debug.core.gdbjtag.dsf.GnuArmLaunch"
	          class="ilg.gnuarmeclipse.debug.core.gdbjtag.dsf.GnuArmAdapterFactory">
	         <adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IElementContentProvider"/>
	         <adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IModelProxyFactory"/>
	         <adapter type="org.eclipse.debug.internal.ui.viewers.model.provisional.IColumnPresentationFactory"/>
	    </factory>
	</extension>
	
    <extension
          point="org.eclipse.debug.ui.memoryRenderings">
       <renderingType
             class="ilg.gnuarmeclipse.debug.core.gdbjtag.render.peripheral.PeripheralRenderingDelegate"
             id="ilg.gnuarmeclipse.debug.core.memoryRendering"
             name="Peripheral">
       </renderingType>
       <renderingBindings
             defaultIds="ilg.gnuarmeclipse.debug.core.memoryRendering"
             primaryId="ilg.gnuarmeclipse.debug.core.memoryRendering"
             renderingIds="ilg.gnuarmeclipse.debug.core.memoryRendering">
			<enablement>
			<or>
				<!-- Without this instanceof, adding memory renderings fail with NPE -->
				<instanceof 
					value="ilg.gnuarmeclipse.debug.core.gdbjtag.memory.PeripheralMemoryBlockExtension" />
			</or>
			</enablement>
       </renderingBindings>
    </extension>
    <extension
          point="org.eclipse.ui.themes">
       <themeElementCategory
             id="ilg.gnuarmeclipse.debug.core.peripheral.colors"
             label="Peripheral colors">
          <description>
             Colors used in the peripheral views.
          </description>
       </themeElementCategory>
       <colorDefinition
             categoryId="ilg.gnuarmeclipse.debug.core.peripheral.colors"
             id="ilg.gnuarmeclipse.debug.core.peripheral.color.readonly"
             label="ReadOnly Color"
             value="COLOR_INFO_BACKGROUND">
          <description>
             Color for the Read Only peripherals/registers.
          </description>
       </colorDefinition>
       <colorDefinition
             categoryId="ilg.gnuarmeclipse.debug.core.peripheral.colors"
             id="ilg.gnuarmeclipse.debug.core.peripheral.color.writeonly"
             label="WriteOnly Color"
             value="181,213,255">
          <description>
             Color for the Write Only peripherals/registers.
          </description>
       </colorDefinition>
       <colorDefinition
             categoryId="ilg.gnuarmeclipse.debug.core.peripheral.colors"
             id="ilg.gnuarmeclipse.debug.core.peripheral.color.changed"
             label="Changed Color"
             value="COLOR_YELLOW">
          <description>
             Color for the value fields that changed during edit.
          </description>
       </colorDefinition>
    </extension>
   
   
</plugin>
