<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
			id="ilg.gnuarmeclipse.debug.gdbjtag.qemu.launchConfigurationType"
			modes="debug, run"
			name="%launchConfig.name"
			public="true" />
	</extension>

	<extension point="org.eclipse.debug.core.launchDelegates">
		<launchDelegate
			delegate="ilg.gnuarmeclipse.debug.gdbjtag.qemu.dsf.LaunchConfigurationDelegate"
			delegateDescription="%launchDelegate.jtagDsf.description"
			id="ilg.gnuarmeclipse.debug.gdbjtag.qemu.core.dsfLaunchDelegate"
			modes="debug,run"
			name="%launchDelegate.jtagDsf.name"
			sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
			sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
			type="ilg.gnuarmeclipse.debug.gdbjtag.qemu.launchConfigurationType">
		</launchDelegate>
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="ilg.gnuarmeclipse.debug.gdbjtag.qemu.launchConfigurationType"
			icon="icons/obj16/c_app.gif"
			id="ilg.gnuarmeclipset.debug.gdbjtag.qemu.launchConfigurationTypeImage" />
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="ilg.gnuarmeclipse.debug.gdbjtag.qemu.ui.TabGroupLaunchConfiguration"
			id="ilg.gnuarmeclipse.debug.gdbjtag.qemu.launchConfigurationTabGroup"
			type="ilg.gnuarmeclipse.debug.gdbjtag.qemu.launchConfigurationType" />
	</extension>

	<extension point="org.eclipse.cdt.debug.gdbjtag.core.JTagDevice">
		<device
			class="ilg.gnuarmeclipse.debug.gdbjtag.qemu.JTagDevice"
			id="ilg.gnuarmeclipse.debug.gdbjtag.qemu.core.jtagdevice"
			name="%JTagDevice.generic.name">
		</device>
	</extension>

	<extension point="org.eclipse.core.variables.valueVariables">
		<variable
			description="Path to QEMU installation folder"
			initializerClass="ilg.gnuarmeclipse.debug.gdbjtag.qemu.VariableInitializer"
			name="qemu_path" />
	</extension>

	<extension point="org.eclipse.core.variables.valueVariables">
		<variable
			description="Name of the QEMU executable"
			initializerClass="ilg.gnuarmeclipse.debug.gdbjtag.qemu.VariableInitializer"
			name="qemu_executable" />
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.debug.ui.DebugPreferencePage"
			class="ilg.gnuarmeclipse.debug.gdbjtag.qemu.preferences.QemuPage"
			id="ilg.gnuarmeclipse.debug.gdbjtag.qemu.preferencePage"
			name="%preferences.qemu">
		</page>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="ilg.gnuarmeclipse.debug.gdbjtag.qemu.DefaultPreferenceInitializer">
		</initializer>
	</extension>

</plugin>
