<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			class="ilg.gnumcueclipse.core.ui.preferences.McuPreferencesPage"
			id="ilg.gnumcueclipse.core.ui.preferences.mcu"
			name="%preferences.mcu">
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			class="ilg.gnumcueclipse.core.ui.properties.McuPropertiesPage"
			id="ilg.gnumcueclipse.core.ui.properties.mcu"
			name="%properties.mcu">
			<filter
				name="projectNature"
				value="org.eclipse.cdt.core.cnature">
			</filter>
			<enabledWhen>
				<and>
					<instanceof value="org.eclipse.core.resources.IProject">
					</instanceof>
					<test forcePluginActivation="true" property="ilg.gnumcueclipse.managedbuild.cross.isGnuMcu">
					</test>
				</and>
			</enabledWhen>
		</page>
	</extension>
</plugin>